<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Thing</title>
</head>
<body>
<a style="color: chocolate" href="/things">Back to thing list</a>
<h1 style="color: yellowgreen">Delete Thing</h1>
<th:block th:if="${message}">
    <h2 th:text="${message}" style="color: red"></h2>
</th:block>
<form method="post" th:action="@{/delete-thing}" th:object="${thing}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table border="1">
        <tr>
            <td>Name</td>
            <td><input type="text" disabled="disabled" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Magic script</td>
            <td><input type="text" disabled="disabled" th:field="*{magicScript}"></td>
        </tr>
        <tr>
            <td>Mana needed</td>
            <td><input type="text" disabled="disabled" th:field="*{manaNeeded}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>