<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ting Ting</title>
</head>
<body>
<a href="/create-thing">Create a new Thing??!!!</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Magic script</th>
        <th>Mana needed</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="thing : ${things}">
        <tr>
            <td th:text="${thing.name}"></td>
            <td th:text="${thing.magicScript}"></td>
            <td th:text="${thing.manaNeeded}"></td>
            <td><a th:href="@{/edit-thing/__${thing.id}__ }">edit</a></td>
            <td><a th:href="@{/delete-thing/__${thing.id}__ }">delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>